{   
    "lfm_key": "Last.fm API key",
    "refresh_mins": 60,
    "users": [
        {
            "name": "Last.fm Username",
            "id": "Discord user ID",
            "token": "Discord bot token",
            "app_id": "Discord app ID"
        }
    ]
}
